h2{
    color: #76aeb2;
}

h4{
    color: #76aeb2;
}

body {
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
  }
  h1,h2,h3,h4,h5,h6,label,span {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
  }
  body, html, .App, #root, .auth-wrapper {
    width: 100%;
    height: 100%;
    background-color: #ebecec;
  }
  
  .wrapper {
    border: solid rgb(136, 136, 136) 1px;
    border-radius: 20px;
    margin: 60px auto;
    padding: 20px;
    width: 400px;
    height: 500px;
    background-color: rgb(245, 245, 245);
  }
  
  .Konto {
    font-size: small;
  }
  
  .CreateArtikel{
    text-align: center;
}


.create-container {
    width: 100%;
    padding: 50px;
    float: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cadfdf;
}

.create-container2 {
    width: 100%;
    padding: 10px;
    float: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cadfdf;
}


.Upload {
    text-align: left;
}

.ArtikelContainer {
    height: 100px;
    width: 100px;
    float: right;
    background-color: aquamarine;
}


.App {
  width: 90%;
  padding: 50px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.modal {
  position: fixed;
  z-index: 20;
  background: #fff;
  width: 500px;

  /* Center the modal */
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.modal__header {
  background: #76aeb2;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.modal__main {
  padding: 20px;
}

.close-button {
  border: none;
  background: transparent;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 36px;
}

.close-button:hover {
  color: yellow;
}

.button {
  background: green;
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;

}

.button:hover {
  background: #76aeb2;
}
 